APP_ENVIROMENT='development'

# docker .env
APP_MB_HOST=YourMbHost
APP_MB_PORT=YourMbPort
APP_MB_USER=YourMbUsername
APP_MB_PASSWORD=YourMbPassword

RABBITMQ_DEFAULT_USER=YourUsername
RABBITMQ_DEFAULT_PASS=YourPassword