APP_DB_HOST=YourDbHost
APP_DB_PORT=YourDbPort
APP_DB_USER=YourDbUser
APP_DB_PASSWORD=YourDbPassword
APP_DB_NAME=YourDbName

# docker .env
MYSQL_USER=YourUsername
MYSQL_PASSWORD=YourPassword
MYSQL_DATABASE=YourDatabase
MYSQL_ROOT_PASSWORD=YourRootPassword